<!DOCTYPE html>
<html lang='{{ .Lang }}'>
<head>
  <title>{{ .Title }}</title>
  <meta charset='utf8'>

  <style>
    body {
      max-width: 1200px;
      margin: 2rem auto;
      padding: 0 3rem;
      position: relative;
    }
    .options_container { /* 右上角那些链接、按钮 */
      font-size: small;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
    }
    .options_container > * {
      margin: 0 1rem;
    }
  </style>

  <script>
    window.http = new Proxy({}, { // 封装一个 http 客户端（类似 axios）
      get: (_, method) => (path, data, timeout = 3000) =>
        fetch(path, {
        method,
        signal: AbortSignal.timeout(timeout), // 超时
        body: data && JSON.stringify(data),
        }).then(res => res.json())
      }
    )
  </script>

  <script>
    window.O = new Proxy({}, { // 封装 document.createElement
      get: (_, tagname) => (props, ...children) => {
        const el = document.createElement(tagname)
        for(const k in props)
          el[k] = props[k]
        el.append(...children)
        return el
      }
    })
  </script>
</head>
<body>
  <h1>{{ .Title }}</h1>
  {{ .Body }}
  <div class="options_container">
    <a href="https://ppz-pro.github.io/.github/" target="_blank">微信群</a>
    <a href="https://github.com/ppz-pro/file-bridge" target="_blank">Github</a>
    <div class="option_pair multi_lang"></div>
  </div>
  <script>
    ;(function init_multi_lang() { // 中英文切换
      const container = document.querySelector('.option_pair.multi_lang')
      const search = new URLSearchParams(location.search)
      const lang = search.get('lang') || 'cn'
      const cn_btn = O.a(null, '中文')
      const en_btn = O.a(null, 'English')
      const is_cn = lang == 'cn'
      search.set('lang', is_cn ? 'en' : 'cn')
      ;(is_cn ? en_btn : cn_btn).href = `javascript: location.href='${location.pathname}?${search}'`
      container.append(cn_btn, ' / ', en_btn)
    })()
  </script>
</body>
</html>
